pipeline/IncrementalExport_Scheduled.json
{
	"name": "IncrementalExport_Scheduled",
	"properties": {
		"activities": [
			{
				"name": "GetChangedTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [TABLE_NAME]\n      ,[CDC_TABLE_NAME]\n      ,[COLUMN_NAMES]\n      ,[LAST_PROCESSED_FILE_NAME]\n      ,[LAST_UPDATED_CDC_FILE]\n  FROM [dbo].[SynapseToSQLUpdatedTables]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dest_SQL_Query",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetChangedTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetChangedTable').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecuteIncremental",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "IncrementalExport_SQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TABLE_NAME": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"LAST_UPDATED_CDC_FILE": {
										"value": "@item().LAST_UPDATED_CDC_FILE",
										"type": "Expression"
									},
									"COLUMN_NAMES": {
										"value": "@item().COLUMN_NAMES",
										"type": "Expression"
									},
									"CDC_TABLE_NAME": {
										"value": "@item().CDC_TABLE_NAME",
										"type": "Expression"
									},
									"LAST_PROCESSED_FILE_NAME": {
										"value": "@item().LAST_PROCESSED_FILE_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DataLakeToSQL/Scheduled"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-26T09:30:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}